@import url('https://fonts.googleapis.com/css?family=Architects Daughter&display=swap');

header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

body {
    max-width: 1440px;
    font-family: Architects Daughter, serif;
    background: linear-gradient(90deg, #6a4491 0%, #1b062e 100%);
}

nav {
    position: fixed;
    top: 0;
}

.nav-link {
    color: aquamarine;
}


.navbar-nav .nav-link.active {
    color: rgb(160, 156, 156);
}

.navbar-toggler {
    background-color: dimgray;
}

section {
    padding-top: 40px;
}

ul.navbar-nav {
    position: absolute;
    right: 12px;
}

ul.navbar-nav li {
    display: flex;
    align-items: center;
}

.container-fluid img {
    width: 35px;
}

p {
    color: aquamarine;
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #6a4491 0%, #1b062e 100%);
}

.heigth-foto {
    height: 425px;
    display: flex;
    align-items: center;
}

.card {
    background-color: rgba(246, 240, 255, 0);
    border-color: rgba(240, 248, 255, 0);
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    background: linear-gradient(270deg, #6a4491 0%, #1b062e 100%);
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

section {
    margin-bottom: 110px;
    height: 100%;
}

.carousel-inner {
    padding: 100px;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

.foot-cont {
    background: linear-gradient(270deg, #6a4491 0%, #1b062e 100%);
}

footer {
    position: absolute;
    width: 100%;
    background: linear-gradient(270deg, #6a4491 0%, #1b062e 100%);
}

.fb {
    margin-left: 20px;
}

.form-text {
    color: aquamarine;
}

.container-fluid .row a {
    text-decoration: none;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@media (max-width: 1024px) {
    .heigth-foto {
        height: 300px;
    }
}

@media (max-width: 991px) {
    ul.navbar-nav {
        background-color: black;
        position: absolute;
        top: 50px;
        right: 0;
    }

    ul.navbar-nav li {
        margin: 5px;
        display: block;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .heigth-foto {
        height: 600px;
    }
}

@media (max-width: 825px) {
    .heigth-foto {
        height: 500px;
    }
}

@media (max-width: 767px) {
    .heigth-foto {
        height: 950px;
    }

    .carousel-indicators {
        display: none;
    }

}

@media (max-width: 700px) {
    .heigth-foto {
        height: 825px;
    }
}

@media (max-width: 425px) {
    .heigth-foto {
        height: 500px;
    }
}